<h1>All Flights</h1>

<h3>Flight Information</h3>
<% @flights.each do |flight| %>
  <%= flight.number %> - <%= flight.airline.name %><br>
    <% flight.passengers.each do |passenger| %>
    <section class="passenger" id="passenger-<%= passenger.id %>">
      <%= passenger.name %>
      <%= button_to  "Remove Passenger", remove_this_passenger_path(:passenger => passenger.id, :flight => flight.id), method: :delete %><br>
    <% end %></section>
<% end %>
